@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-red-hat-display: "Red Hat Display", sans-serif;
  --color-primary-color: #7da870;
  --color-secondary-color: #e9a763;
  --color-tertiary-color: #343a3f;
  --color-backgray-color: #f2f2f2;
  --breakpoint-xsm: 550px;
}
